:root {
    --font-size: 48pt;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "sculpin", sans-serif;
    background-color: black;
    font-size: var(--font-size);
    overflow-x: hidden;
    object-fit: cover;
}

.background-1 {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    object-fit: cover;
}

.background-2 {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    object-fit: cover;
    opacity: 0;
    transition: all 1s;
}

.background-2.show {
    opacity: 100;
    transition: all 1s;
}





main {
    padding: var(--font-size);
    overflow-x: hidden;

}

header,
footer {
    width: 100%;
    height: 100vh;
    position: relative;
}

.unicorn-down {
    transition: opacity 1s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: auto;
    mix-blend-mode: difference;
    opacity: 0%;

    transform: translateX(-50%) translatey(-50%) rotate(0deg);
    animation: bounce 1.5s ease-in-out infinite;
}

.unicorn-down.show {
    transition: opacity 1s linear;
    transition-delay: 1s;
    opacity: 100%;

}

@keyframes bounce {
    0% {
        transform: translateX(-50%) translateY(-50%)
    }

    50% {
        transform: translateX(-50%) translateY(-60%)
    }

    100% {
        transform: translateX(-50%) translateY(-50%)
    }
}

.h-rule {
    mix-blend-mode: difference;
    filter: invert(100%);
    height: 2pt;
    width: 100%;
    background: black;
    margin-bottom: 2em;
    opacity: 0;
    transition: all 1s ease-in-out;


}

.h-rule.show {
    opacity: 100;
    transition: all 1s ease-in-out;
}


.deckard {
    mix-blend-mode: difference;
    filter: invert(100%);
    margin-bottom: 2em;

    font-weight: 900;
    font-style: normal;
    text-align: right;
    transform: translateX(200px);
    opacity: 0%;
    transition: all 1s ease-in-out;
}

.deckard.show {
    transform: translateX(0px);
    opacity: 100%;
    transition: all 1s ease-in-out;
}

.rachel {
    mix-blend-mode: difference;
    filter: invert(100%);
    margin-bottom: 2em;

    font-weight: 400;
    font-style: normal;
    transform: translateX(-200px);
    opacity: 0%;
    transition: all 1s ease-in-out;
}

.rachel.show {
    transform: translateX(0px);
    opacity: 100%;
    transition: all 1s ease-in-out;
}

.rachel-top {
    mix-blend-mode: difference;
    filter: invert(100%);
    margin-bottom: 2em;

    font-weight: 400;
    font-style: normal;


}

.tyrell {
    position: relative;
    mix-blend-mode: difference;
    filter: invert(100%);
    margin-bottom: 2em;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    opacity: 0%;
    transition: opacity 1s ease-in-out;
}

.tyrell.show {
    opacity: 100%;
    transition: opacity 1s ease-in-out;
}

.tyrell-conclusion {
    mix-blend-mode: difference;
    filter: invert(100%);
    margin-bottom: calc(2 * var(--font-size));

    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: calc(0.375 * var(--font-size));

    width: 50%;
    margin-right: auto;
    margin-left: auto;

    opacity: 0%;
    transition: opacity 1s ease-in-out;
}

.tyrell-conclusion.show {

    transform: translateY(0px);
    opacity: 100%;
    transition: opacity 1s ease-in-out;
}

.deckard-conclusion {
    mix-blend-mode: difference;
    filter: invert(100%);
    font-weight: 900;
    font-style: normal;
    text-align: right;
    font-size: calc(2 * var(--font-size));
    transform: translateX(200px);
    opacity: 0%;
    transition: all 1s ease-in-out;
}

.deckard-conclusion.show {
    transform: translatey(0px);
    opacity: 100%;
    transition: all 1s ease-in-out;
}

.unicorn-up {
    position: absolute;
    transition: opacity 1s linear;
    top: 50%;
    left: 50%;
    width: 20%;
    height: auto;
    mix-blend-mode: difference;
    opacity: 0%;
    transform: translateX(-50%) translatey(-50%) rotate(0deg);
}

.unicorn-up.show {
    transition: opacity 1s linear;
    transition-delay: 1s;
    opacity: 100%;
}

.unicorn-up.show:hover {
    animation: bounce 1.5s ease-in-out infinite;

}

@media screen and (max-width:700px) {
    body {
        font-size: calc(0.5 * var(--font-size));
    }

    main {
        padding: calc(0.5 * var(--font-size));
    }

    .tyrell-conclusion {
        font-size: calc(0.375 * var(--font-size));
        width: 75%;

    }

    .deckard-conclusion {
        font-size: calc(1 * var(--font-size));
    }

    .unicorn-down {
        width: 50%;
    }

    .unicorn-up {
        width: 50%;
    }

}